body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}

.swim-lanes {
  min-height: 60vh;
}

.task-card {
  margin: 0 auto;
}

.task-card:hover {
  cursor: grab;
}

/* Styles the modal */
.title-and-date {
display: flex;
justify-content: space-around;
}

.add-task-btn {
  margin: 40px auto 10px;
 text-align: center
;}

.task-description {
  margin: auto 11px;
} 

textarea {
  height: 6rem;
}

#due-date {
  width: 206px;
}